.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Table.css */

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.styled-table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.styled-table td, .styled-table th {
  border: 1px solid #dddddd;
  padding: 8px;
}

/* Button.css */

.styled-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* YourComponent.css */

/* YourComponent.css */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 50%; /* Each item takes 50% of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px;
  border: 1px solid #ddd; /* Optional: Border for visualization */
}

/* FormComponent.css */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
}



.styled-button:hover {
  background-color: #45a049;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
